version: '3.8'

services:
  novnc-desktop:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: novnc-desktop
    ports:
      - "8080:8080"
    volumes:
      - ./home-desktop:/home/desktop:Z
    restart: unless-stopped
    stdin_open: true
    tty: true
